.heading{
 display: flex;
 gap:7%;
 font-size: 20px;
}
#sign{
    margin-left: 120px;
    
}
.body{
    font-family: 'Karla', sans-serif; 
    font-size: 20px;
}
#house{
    /* font-style: italic; */
    color:#ffd43b;
    font-size: 40px;
    font-family: 'Great Vibes', cursive;
    margin-top: 7px;
    margin-right:100px;
}
#yellow{
    color: #fab005;
}
/* #button{
    border-color: white;
} */
.Intro{
     margin-left:10%; 
    display: flex;
    
  
}
#title{
    font-weight: 900;
     
}
#healthy{
    color: #ffd43b;
}

#buttonorder{
    color:white;
    background-color: #fcc419;
    border-radius: 10px 0px;
    padding: 20px;
    /* border-color: #fcc419; */
    border-style: none;
}
#chicken{
   height: 70vh;
   width:40% ;
}
.popularfoods{
    margin-top: 5%;
    display: flex;
     gap:5%;
     margin-left: 6%;  
    margin-bottom: 10%;
} 
#online{
    margin-left: 50%;
    font-size: 40px;
font-family: 'Great Vibes', cursive;

}
#popular{
    margin-left: 40%;
    margin-bottom: 7%;
}
#fish{
    height:200px; 
    border-radius: 60%; 
      width: 70%;  
     
}
#chips{
    height:200px;
    border-radius: 60%;
 
}
#sea{
    height:200px;
    width:88% ;
    border-radius: 70%;
}
#pizza{
    height:200px;
     width:110%; 
     border-radius: 65%; 
}
#star{
    color:#ffd43b;
   
}
#button1{
    background-color:#fcc419;
    color: white;
    padding:20px 30px;
    border-radius:50px ;
    border-style: none;
}
#button2{
    background-color:#fcc419;
    color: white;
    padding:20px 30px;
    border-radius:50px ;
    border-style: none;
}
#button3{
    background-color:#fcc419;
    color: white;
    padding:20px 30px;
    border-radius:50px ;
    border-style: none;
}
#button4{
    background-color:#fcc419;
    color: white;
    padding:20px 30px;
    border-radius:50px ;
    border-style: none;
    margin-bottom: 30%;
    
}
#button5{
    background-color:#fcc419;
    color: white;
    padding:20px 30px;
    border-radius:20px 0px ;
    border-style: none;   
}
#offers{
        font-size:60px;            
}
.Offers{
    margin-left: 15%;
} 
#button6{
    background-color:#fcc419;
    color: white;
    padding:15px;
    border-radius:10px ;
    border-style: none; 
    box-shadow: 10px;  
}
 #tuna{
    height: 400px; 
    margin-left: 5%;
     width: 300px; 
}
 .Specialoffer{
    display: flex;
    margin-bottom: 7%;
 }
 .Advertisement{
    margin-bottom: 7%;
    font-size: large;
    text-align: center;
 }
 #h{
    font-size: 30px;
    font-weight: 900;
 }
#h1{
    font-weight: 900;
     font-size:35px; 
     margin-left: 35%;
   
}
.Display{
    display: flex;
    margin-left: 7%;
    gap:5%;
    /* background-color: ; */
}
.Burger{
    background-color:white;
    
}

#burger{
    height: 80px; 
     border-radius: 75%;
    /* float: right; */
   /* display: flex; */
   
    
}
#salad{
    height: 100px;
    border-radius: 75%;
    width: 150px; 
}
#logoo{
    height: 100px;
    border-radius: 75%;

}
#cost{
    color:#ffd43b;
}
#icons{
    height: 70px;
}
.services{
    display: flex;
    gap:15%;
    margin-left: 4%;
    font-size: large;
   
}
.space{
    background-color:#fff9db;
    width: 500px;
 

}
#quotation{
    height:60px;
    margin-left: 46%;
}
.paragraph{
    text-align: center;
    margin-bottom: 7%;
}
#text{
    margin-top: 10%;
    text-align: center;
    font-size: large;
}
.ceos{
text-align: center;
/* border-radius: 60%; */

}
#woman{
    border-radius: 60%;
    height: 60px;
}
#ceo{
    border-radius: 60%;
    height: 60px;

}
#Ceo{
    border-radius: 60%;
    height: 60px;


}
#Ceo1{
    border-radius: 60%;
    height: 60px;
}
#arrow{
    height:90px;
    background-color: #fff9db;
}
#apple{
    height:150px;
}
#google{
    height: 40px;
    margin-bottom: 13%;
}
.flex{
    display: flex;
    gap:10%;
    color: white;
    background-color:black;}
    #foodhouse{
        margin-left: 5%;
    }
    #fullstop{
        color: #fcc419;
    }
   
 
#download{
    color:#fab005;
    font-size: larger;
}
.about{
    display:flex;
    margin-top: 7%;
    margin-bottom: 7%;
}
#buttonn{
    background-color:#fcc419;
    color: white;
    padding:20px 30px;
    border-radius:15px ;
    border-style: none;   
}
#logo{
    color:#ffd43b;
    background-color: white;
    border-radius: 5px;
    height: 25px;
    width: 7%;
    
   
}
.email{
    margin-left:25%;
}
.subscribe{
    margin-bottom: 6%;
    display: flex;
    flex-direction: row;
    margin-left: 4%;
}
.rights{
    display: flex;
   gap: 15%;
    background-color: #fab005;
    color: white; 
}

@media (max-width:425px){
    .heading{
  flex-direction: column;
  margin-left: 0px;
  gap: 1px;
    }
    .body{
        margin: 0px;

    }
    .Intro{
        flex-direction: column;
       
    }   
    #chicken {
        height: 40vh;
        width: 80%;
    }
    .popularfoods{
        margin-top: 5%;
        flex-direction: column;
         gap:5%;
         margin-left: 0%;  
        margin-bottom: 10%;
    } 
    #pizza{
        height: 30vh;
        width:60%;
       
    }
    #tuna{
        height:20vh;
        width:20%;

    }
    .Specialoffer{
      flex-direction: column;
        margin-bottom: 7%;
}
.Display{ 
flex-direction: column;
margin-left:0px;
gap:5%;
}
#burger{
    height: 40vh; 
     
     width: 50%;
}
#logoo{
    height: 40vh;
    width:50%;

}
.space{
    width: 500px;
}
.services{
   flex-direction: column;
    gap:15%;
    margin-left: 4%;
    font-size: large;
   
}

  

.flex{
    flex-direction: column;
    margin-right: 0%;
}
.about{
    flex-direction: column;
}
.subscribe{
    flex-direction: column;
}
  .rights{
   display: flex;
  }  
 

}
   
    



